*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

.grid{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr minmax(50px, 0.3fr);
}

/* class created for template of each row*/
.film{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

/* styling for font on h1 */
.film h1{
    font-size: 2.5vw;
}

/* top movie row styling*/
.top{
    background-color: brown;
}

/* bottom movie row styling*/
.bottom{
    background-color: red;
}

/* footer styling for ucd */
.footer{
    background-color: orange;
}