@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

.grid{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr minmax(50px, 0.3fr);
    font-family: 'Bebas Neue', cursive;
}

/* class created for template of each row*/
.film{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    font-size: 2.5vw;
    letter-spacing: 0.1em;
    text-shadow: #000 0px 0px 2px;
    color: white;
}

/* top movie row styling*/
.top {
    position: relative;
    height: 100%;
    background-image: url(/assets//images/week1.jpeg);
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 calc(100% - 5vw)
    );
    /* change the calc height to a percentage height to get alternate responsive behavior*/
}

/* bottom movie row styling*/
.bottom {
    margin-top: -5vw;
    background-image: url(/assets//images/week2.jpg);
}

/* footer styling for ucd */
.footer{
    display: flex;
    font-size: 1.5vw;
    background-color: red;
}

.footer img{
    height: 100%;
}